# Disable directory indexing
Options -Indexes

RewriteEngine on
RewriteBase /
# PHP files can be accessed without extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]

# Don't apply any rules on index file
RewriteRule ^index\.php$ - [L]

# Adding dynamic URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^booking$ /controllers/Booking.php [NC]
RewriteRule ^booking/submit$ /controllers/Booking.php?action=create [NC]
RewriteRule ^services$ /controllers/Services.php [NC]
RewriteRule ^location/(.*)/(.*)$ /controllers/Shop.php?location=$1&shop=$2 [L,NC]
RewriteRule ^location/(.*)$ /controllers/Location.php?location=$1 [NC]