a.line-animation {
  &,
  &:hover,
  &:active,
  &:visited,
  &:focus {
    position: relative;
    text-decoration: none;
    transition: all 0.1s ease;
  }
  &,
  &:visited {
    &:not(.no-decoration)::before {
      content: "";
      position: absolute;
      left: 0;
      background-color: currentColor;
      bottom: -2px;
      display: block;
      height: 1px;
      width: 0;
      transition: all 0.2s ease;
    }
  }
  &:not(.no-active).active::before,
  &:hover::before,
  &:active::before,
  &:focus::before {
    width: 100%;
  }
}
