@charset "UTF-8";
/* Importing fonts from Google Fonts API */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Lato:400,700,900|Lora:400|Oleo+Script:400");
/* Global Styles */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}

body {
  color: #ffffff;
  background-color: #cbc7c7;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body.scroll-locked {
  overflow-y: hidden !important;
}

a, a:hover, a:focus, a:active, a:visited {
  color: #ffffff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
.h1.light,
.h2.light,
.h3.light,
.h4.light,
.h5.light,
.h6.light,
.heading.light,
.heading-1.light,
.heading-2.light,
.heading-3.light,
.heading-4.light,
.heading-5.light,
.heading-6.light {
  font-weight: 300 !important;
}
h1.regular,
h2.regular,
h3.regular,
h4.regular,
h5.regular,
h6.regular,
.h1.regular,
.h2.regular,
.h3.regular,
.h4.regular,
.h5.regular,
.h6.regular,
.heading.regular,
.heading-1.regular,
.heading-2.regular,
.heading-3.regular,
.heading-4.regular,
.heading-5.regular,
.heading-6.regular {
  font-weight: 400 !important;
}
h1.black,
h2.black,
h3.black,
h4.black,
h5.black,
h6.black,
.h1.black,
.h2.black,
.h3.black,
.h4.black,
.h5.black,
.h6.black,
.heading.black,
.heading-1.black,
.heading-2.black,
.heading-3.black,
.heading-4.black,
.heading-5.black,
.heading-6.black {
  font-weight: 900 !important;
}

.featured {
  font-family: "Lora", serif !important;
}

.featured-2 {
  font-family: "Oleo Script", cursive !important;
  font-weight: 400 !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Utilitiy classes */
.no-select, .products-slider .card .content .popup, .form.custom .form-control:read-only, .form.custom .form-control[readonly] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Components */
.spacer {
  background-color: #343a40;
  height: 25px;
  width: 100%;
}

header {
  position: relative;
  background-color: #a4cb97;
  display: flex;
  height: 123px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px solid #9cc18f;
  -webkit-box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.4);
}
@media only screen and (min-width: 1200px) {
  header {
    height: 82px;
    padding: 0;
    align-items: stretch;
    justify-content: flex-end;
  }
}
header .logo-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (min-width: 1200px) {
  header .logo-wrapper {
    width: unset;
    top: calc(50% - 5px);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
header .social-icons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
header .social-icons-list .social-item.facebook a {
  color: #3b5998;
}
header .social-icons-list .social-item.facebook a:hover {
  background-color: #3b5998;
}
header .social-icons-list .social-item.twitter a {
  color: #1da1f2;
}
header .social-icons-list .social-item.twitter a:hover {
  background-color: #1da1f2;
}
header .social-icons-list .social-item.google a {
  color: #dd4b39;
}
header .social-icons-list .social-item.google a:hover {
  background-color: #dd4b39;
}
header .social-icons-list .social-item.instagram a {
  color: #c13584;
}
header .social-icons-list .social-item.instagram a:hover {
  background-color: #c13584;
}
header .social-icons-list .social-item a {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header .social-icons-list .social-item a:hover {
  color: white;
}
header .social-icons-list .social-item a .fa {
  font-size: 30px;
}
header .social-icons-list .social-item:last-of-type a {
  margin-right: 0;
}

main {
  position: relative;
  min-height: calc(100vh - 198px);
  background-size: cover;
  background-position: center;
  padding: 40px 0 0;
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 1200px) {
  main {
    min-height: calc(100vh - 157px);
  }
}
main.parallax {
  background-attachment: fixed;
}
main.has-social-footer {
  padding-bottom: 120px;
}

.btn.custom {
  position: relative;
  color: black;
  background-color: white;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  border: 0;
  box-shadow: none;
  border-radius: 6px;
  -webkit-transition: color 0.2s ease, background 0.2s ease;
  -moz-transition: color 0.2s ease, background 0.2s ease;
  transition: color 0.2s ease, background 0.2s ease;
}
@media only screen and (min-width: 1600px) {
  .btn.custom {
    font-size: 1.15em;
    height: 60px;
  }
}
.btn.custom.wide {
  padding: 0 100px;
}
.btn.custom.wider {
  padding: 0 150px;
}
.btn.custom.bold {
  letter-spacing: 0.085em !important;
  font-weight: bold;
}
@media only screen and (min-width: 1200px) {
  .btn.custom.bold {
    border-width: 3px !important;
  }
}
@media only screen and (min-width: 1600px) {
  .btn.custom.bold {
    font-weight: bolder;
  }
  .btn.custom.bold.invert {
    border-width: 4px;
  }
}
.btn.custom.pilled {
  border-radius: 50px;
}
.btn.custom.primary {
  color: #ffffff;
  background-color: #a4cb97;
  border-color: #a4cb97 !important;
}
.btn.custom.secondary {
  color: #ffffff;
  background-color: #242121;
  border-color: #242121 !important;
}
.btn.custom.invert {
  border: 2px solid white;
}
.btn.custom.invert:hover {
  color: white;
  background: transparent !important;
}
.btn.custom.invert:hover:not(.no-color-invert).primary {
  color: #a4cb97;
}
.btn.custom.invert:hover:not(.no-color-invert).secondary {
  color: #242121;
}
.btn.custom.fadeable:hover.primary {
  background-color: rgba(164, 203, 151, 0.8);
}
.btn.custom.fadeable:hover.secondary {
  background-color: rgba(36, 33, 33, 0.8);
}
.btn.custom.has-icon {
  padding-left: 70px;
  padding-right: 50px;
}
.btn.custom.has-icon .icon {
  position: absolute;
  left: 7.5px;
  top: 50%;
  display: block;
  height: 40px;
  width: 40px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 1600px) {
  .btn.custom.has-icon .icon {
    height: 45px;
    width: 45px;
    left: 10px;
  }
}
.btn.custom .icon {
  display: none;
}
.btn.custom.dropdown-toggle[aria-expanded=true]::after {
  -webkit-transform: translateY(2px) rotate(180deg);
  -moz-transform: translateY(2px) rotate(180deg);
  transform: translateY(2px) rotate(180deg);
}
.btn.custom.dropdown-toggle::after {
  content: "";
  font-family: "FontAwesome";
  font-size: 0.75em;
  margin: 0 0 0 10px;
  vertical-align: middle;
  border: 0;
  height: 1em;
  line-height: 1em;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

.form.custom label {
  font-weight: bold;
}
.form.custom .form-control {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #3e3e3e;
  border-radius: 4px;
}
.form.custom .form-control.is-invalid {
  border-color: #dc3545 !important;
}
.form.custom .form-control:read-only, .form.custom .form-control[readonly] {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.form.custom .form-control:focus {
  -webkit-box-shadow: 0 0 0 2px #a4cb97;
  -moz-box-shadow: 0 0 0 2px #a4cb97;
  box-shadow: 0 0 0 2px #a4cb97;
}
.form.custom .form-control:focus.is-valid {
  -webkit-box-shadow: 0 0 0 2px #28a745 !important;
  -moz-box-shadow: 0 0 0 2px #28a745 !important;
  box-shadow: 0 0 0 2px #28a745 !important;
}
.form.custom .form-control:focus.is-invalid {
  -webkit-box-shadow: 0 0 0 2px #dc3545 !important;
  -moz-box-shadow: 0 0 0 2px #dc3545 !important;
  box-shadow: 0 0 0 2px #dc3545 !important;
}

.dropdown-menu.custom {
  background-color: #242121;
  width: calc(100% - 60px);
  padding: 15px 0;
}
.dropdown-menu.custom.dropdown-menu-right::before {
  left: auto;
  right: 17.5px;
}
.dropdown-menu.custom.dropdown-menu-center::before {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.dropdown-menu.custom::before {
  content: "";
  background-color: #242121;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: -10px;
  left: 17.5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dropdown-menu.custom a {
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 2px;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  text-shadow: none !important;
  -webkit-transition: color 0.2s ease, background-color 0.2 ease;
  -moz-transition: color 0.2s ease, background-color 0.2 ease;
  transition: color 0.2s ease, background-color 0.2 ease;
}
.dropdown-menu.custom a:hover {
  color: white;
  background-color: #738e6a;
  font-weight: bolder;
}

.selection-box {
  margin-bottom: 50px;
}
.selection-box .btn {
  margin-bottom: 30px;
}
.selection-box .box {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-transition: transform 0.2s ease, box-shadow 0.2s ease;
  -moz-transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
@media only screen and (min-width: 1200px) {
  .selection-box .box {
    height: 380px;
  }
}
@media only screen and (min-width: 1600px) {
  .selection-box .box {
    height: 500px;
  }
}
.selection-box .box:active {
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  transform: scale(0.96);
}
@media only screen and (min-width: 1200px) {
  .selection-box .box:active {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@media only screen and (min-width: 1200px) {
  .selection-box .box:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.selection-box .box .title {
  background-color: rgba(164, 203, 151, 0.7);
  font-size: 1.05em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 80%;
  margin: 20px auto 0;
  padding: 12.5px 10px;
  border-radius: 50px;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  text-shadow: none !important;
}
@media only screen and (min-width: 1600px) {
  .selection-box .box .title {
    font-size: 1.3em;
    padding: 15px 10px;
  }
}
.selection-box .box.watermarked::after {
  content: "";
  position: absolute;
  background-image: url("../images/logo.png");
  background-size: cover;
  top: 50%;
  left: 50%;
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.products-slider .owl-item {
  display: inline-block !important;
}
.products-slider .owl-nav,
.products-slider .owl-dots {
  display: none !important;
}
.products-slider .card {
  overflow: hidden;
  display: block;
  height: 380px;
  width: 265px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.4);
  -webkit-transition: box-shadow 0.2s ease, transform 0.4s ease;
  -moz-transition: box-shadow 0.2s ease, transform 0.4s ease;
  transition: box-shadow 0.2s ease, transform 0.4s ease;
}
.products-slider .card .fadeable {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.products-slider .card.dark-light .background::after {
  background-color: rgba(0, 0, 0, 0.4);
}
.products-slider .card.dark .background::after {
  background-color: rgba(0, 0, 0, 0.6);
}
.products-slider .card.dark-heavy .background::after {
  background-color: rgba(0, 0, 0, 0.8);
}
.products-slider .card .background {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
.products-slider .card .background::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.products-slider .card:hover.drop-shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6);
}
.products-slider .card:hover.scale {
  transform: scale(1.05);
}
.products-slider .card:hover.bg-zoom .background {
  transform: scale(1.1);
}
.products-slider .card:hover.bg-blur .background {
  filter: blur(1px);
}
.products-slider .card:hover.bg-blur.hard .background {
  filter: blur(2px);
}
.products-slider .card:hover.bg-mask .background::after {
  opacity: 1;
}
.products-slider .card:hover .popup {
  -webkit-transform: translateY(0px) !important;
  -moz-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
}
.products-slider .card:hover .fadeable {
  opacity: 1;
}
.products-slider .card .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding: 60px 8px 0;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  text-shadow: none !important;
}
.products-slider .card .content .tags {
  position: absolute;
  top: 10px;
  right: 2.5%;
  left: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-self: start;
}
.products-slider .card .content .tags a {
  color: white;
  background-color: #111111;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.8;
  display: inline-block;
  height: 20px;
  padding: 0 8px;
  margin-right: 4px;
  border-radius: 4px;
}
.products-slider .card .content .tags a:hover {
  opacity: 1;
}
.products-slider .card .content .popup {
  position: relative;
  color: #1e1e1e;
  background-color: white;
  width: calc(100% + 8px * 2);
  left: -8px;
  min-height: 60%;
  max-height: 100%;
  overflow: hidden;
  padding: 10px 8px 50px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
.products-slider .card .content .popup .title {
  font-size: 22px;
}
.products-slider .card .content .popup .details {
  font-family: "Lato", sans-serif;
  font-size: 0.85rem !important;
  margin-bottom: 20px;
}
.products-slider .card .content .popup .details .fa {
  cursor: pointer;
  top: -0.1em;
  position: relative;
  font-size: 0.8em;
}
.products-slider .card .content .popup .btn-action {
  position: absolute;
  color: white;
  background-color: #1e1e1e;
  bottom: 0;
  left: 50%;
  display: block;
  width: 95%;
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  height: 40px;
  margin: 0 auto 10px;
  border: 0;
  border-radius: 4px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.social-icons-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  margin: 0 auto;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.social-icons-footer.circular .social-icon a {
  border-radius: 50%;
}
.social-icons-footer .social-icon.facebook a {
  background-color: #3b5998;
}
.social-icons-footer .social-icon.facebook a:hover {
  box-shadow: 0 0 0 4px #333, 0 0 0 7px #3b5998;
}
.social-icons-footer .social-icon.twitter a {
  background-color: #1da1f2;
}
.social-icons-footer .social-icon.twitter a:hover {
  box-shadow: 0 0 0 4px #333, 0 0 0 7px #1da1f2;
}
.social-icons-footer .social-icon.google a {
  background-color: #dd4b39;
}
.social-icons-footer .social-icon.google a:hover {
  box-shadow: 0 0 0 4px #333, 0 0 0 7px #dd4b39;
}
.social-icons-footer .social-icon.instagram a {
  background-color: #c13584;
}
.social-icons-footer .social-icon.instagram a:hover {
  box-shadow: 0 0 0 4px #333, 0 0 0 7px #c13584;
}
.social-icons-footer .social-icon a {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  text-shadow: none !important;
}
.social-icons-footer .social-icon a:hover {
  color: white;
}
.social-icons-footer .social-icon a .fa {
  font-size: 30px;
}
.social-icons-footer .social-icon:last-of-type a {
  margin-right: 0;
}

.table.custom thead.thead-primary {
  background-color: #a4cb97;
}
.table.custom.hoverable tr {
  border-radius: 0.25rem !important;
  -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease;
  -moz-transition: background-color 0.2s ease, box-shadow 0.2s ease;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.table.custom.hoverable tr td:first-of-type {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
.table.custom.hoverable tr td:last-of-type {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
.table.custom.hoverable tr:hover:not(.no-decor) {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  text-shadow: none !important;
  -webkit-box-shadow: 0 0 10px -0.25rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px -0.25rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px -0.25rem rgba(0, 0, 0, 0.2);
}
.table.custom.hoverable tr:hover:not(.no-decor),
.table.custom.hoverable tr:hover:not(.no-decor) a {
  color: #6b8462 !important;
}

footer {
  background-color: #343a40;
  font-size: 0.8em;
  display: flex;
  height: 50px;
  align-items: center;
}
@media (min-width: 768px) {
  footer {
    font-size: 1em;
    justify-content: center;
  }
}

/* Animated elements */
a.line-animation, a.line-animation:hover, a.line-animation:active, a.line-animation:visited, a.line-animation:focus {
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;
}
a.line-animation:not(.no-decoration)::before, a.line-animation:visited:not(.no-decoration)::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: currentColor;
  bottom: -2px;
  display: block;
  height: 1px;
  width: 0;
  transition: all 0.2s ease;
}
a.line-animation:not(.no-active).active::before, a.line-animation:hover::before, a.line-animation:active::before, a.line-animation:focus::before {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
